@import "../../style/scss-variables.scss";

.list {
    margin: 0 40px 0 0;
    // border: 1px solid blue;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: 1.5rem;
        @extend %bold;
    }
}