// $color-light-black: #ae9778; //Глобальный фон
// $color-light-grey: #c5ad96; //Фон элементов
// $color-light-contrast: #34404e; //Текст и фон
// $color-light-bright: #431f10; //Текст
// $color-light-white: #d5dfe8; //Текст
// $color-light-hover-1: #344078; //hover contrast
// $color-light-hover-2: #d9bea5; //hover элементов
// $color-light-bright-shadow: rgb(67, 31, 16, 0.6); //Тень

// $color-light-black: #2d3250; //Глобальный фон
// $color-light-grey: #424769;
// $color-light-bright: #676f9d;
// $color-light-white: #ffffff;
// $color-light-contrast: #f9b17a;

// $color-light-black: #10161f; //Глобальный фон
// $color-light-grey: #0a1b25;
// $color-light-bright: #48626f;
// $color-light-white: #ebe8db;
// $color-light-contrast: #e5cf63;

$color-light-black: #273248; //Глобальный фон
$color-light-grey: #AF4F41; //Лёгкий контраст 1
$color-light-contrast: #FC7643; //Полноценный контраст
$color-light-white: #FFA364; //Лёгкий контраст 2
$color-light-bright: #FFEBD2; //Крупные объекты
$color-light-text-black: #000000; // Чёрный текст
$color-dark-hover-1: #9f3331; //hover contrast
$color-dark-hover-2: #19282e; //hover элементов


// $color-dark-black: #090e12; //Глобальный фон
// $color-dark-grey: #0d1518; //Фон элементов
// $color-dark-contrast: #793331; //Текст и фон
// $color-dark-bright: #d7cfa8; //Текст
// $color-dark-white: #fff0b7; //Текст
// $color-dark-hover-1: #9f3331; //hover contrast
// $color-dark-hover-2: #19282e; //hover элементов


